-e git+https://github.com/pgoffin/aqandu_cade_api.git@364a790b65b6c9719dad9f8a32aca22bf8f62a76#egg=aqandu_data_access_api
blinker==1.4
certifi==2017.11.5
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Mail==0.9.1
gunicorn==19.7.1
idna==2.6
influxdb==5.0.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.3
pandas==0.22.0
PyJWT==1.5.3
pymongo==3.6.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.3
requests==2.21.0
six==1.11.0
twilio==6.9.1
urllib3==1.22
Werkzeug==0.14.1
